.logo {
  margin: 45px 0 41px; /*Оксана! Здравствуйте! Очень хочу исправить отступы, но Фигма уже 2 день не хочет 
                          мне в этом помочь, не открывается и я в замешательстве, что с этим делать.*/
}

@media screen and (max-width: 425px) {
  .logo {
    width: 103px;
    height: 24px;
  }
}